.acf-form {
    .form-control {
        border: none !important;
    }

    .acf-field-group {
        @extend .row;

        >.acf-label {
            @extend .col-12;
            @extend .col-md-2;
        }

        >.acf-input {
            @extend .col-12;
            @extend .col-md-10;
        }
    }

    .radio-buttons {
        ul.acf-radio-list {
            display: flex;

            li {
                flex: 1;
                padding: 0 !important;
                line-height: 1 !important;
                margin: 0 0.25em;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }

                >label {
                    @extend .secondary-btn;
                    margin: 0 !important;
                    width: 100% !important;
                    text-align: center;

                    &:hover,
                    &.selected {
                        background-color: $primary !important;
                        opacity: 1 !important;
                        color: $white !important;
                        border-color: transparent !important;
                    }

                    input {
                        display: none !important;
                    }
                }
            }
        }
    }

    .radio-numbers {
        &.radio-legend {
            ul.acf-radio-list {
                li {
                    &:first-child {
                        &:after {
                            content: "none";
                        }
                    }

                    &:last-child {
                        &:after {
                            content: "heavy";
                        }
                    }
                }
            }
        }

        ul.acf-radio-list {
            height: max-content !important;

            li {
                padding: 0 0 2em 0 !important;
                line-height: 1 !important;
                margin: 0 2px;

                &:after {
                    display: block;
                    position: absolute;
                    width: 100%;
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 0.8em;
                    margin-top: 2px;
                    margin-left: -2px;
                }

                &:first-child {
                    margin-left: 0;
                    position: relative;
                }

                &:last-child {
                    margin-right: 0;
                    position: relative;
                }

                >label {
                    display: flex !important;
                    width: 40px !important;
                    height: 40px !important;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.5em !important;
                    border-radius: 5px;

                    &:hover,
                    &.selected {
                        background-color: $primary !important;
                        opacity: 1 !important;
                        color: $white !important;
                        border-color: transparent !important;
                    }

                    input {
                        display: none !important;
                    }
                }
            }
        }
    }

    .acf-repeater {
        .acf-table {

            thead,
            .acf-row-handle {
                display: none !important;
            }
        }

        .acf-actions {
            .acf-button {
                &[data-event="add-row"] {
                    font-size: 0px;

                    &:before {
                        display: block;
                        // content: "Add Image";
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .acf-image-uploader {
        .acf-button {
            margin-left: 10px;
            color: $white;
            font-size: 12px;
            line-height: 1;
            font-size: 0px;

            &:before {
                display: block;
                content: "Upload Image";
                font-size: 12px;
            }
        }
    }

    &#sell_application {
        .acf-repeater {
            .acf-actions {
                .acf-button {
                    &[data-event="add-row"] {
                        &:before {
                            content: "Add Image";
                        }
                    }
                }
            }
        }
    }
    .acf-field-repeater.acf-field-5d1d18b8eec04 {
        .acf-actions {
            .acf-button {
                &[data-event="add-row"] {
                    &:before {
                        content: "Add Social Media Account";
                    }
                }
            }
        }
    }
    .acf-field-repeater.acf-field-5d1d25c09d2d3 {
        .acf-actions {
            .acf-button {
                &[data-event="add-row"] {
                    &:before {
                        content: "Add Image";
                    }
                }
            }
        }
    }
    .acf-form-submit {
        .acf-button {
            width: 100%;
            background: $primary;
            font-size: 1.5em;
        }
    }
}

#mt_app_item {
    padding: 15px 30px;

    #mt_app_item_user_select {
        list-style-type: none;
        margin-left: 0 !important;
        margin-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #dfdfdf;

        li {
            margin: 0 10px;

            &:after {
                display: block;
                position: absolute;
                width: 100%;
                text-align: center;
                text-transform: uppercase;
            }

            &:first-child {
                margin-left: 0;
                position: relative;
            }

            &:last-child {
                margin-right: 0;
            }

            &:hover a,
            &.is--active a {
                background-color: $primary !important;
                opacity: 1 !important;
                color: $white !important;
                border-color: transparent !important;
            }

            a {
                display: flex !important;
                width: 50px !important;
                height: 50px !important;
                text-align: center;
                justify-content: center;
                align-items: center;
                font-size: 2em !important;
                border-radius: 5px;
                text-decoration: none;
            }
        }
    }
}

ul.acf-radio-list li,
ul.acf-checkbox-list li {
    display: inline-block;
    padding: 1em !important;
}

.acf-field-5cc37a2abda4e {
    display: none !important;
}

.select2-selection__rendered {
    border: 1px solid #ccc !important;
    border-radius: 3px;
}

#mt-send-application {
    background-color: $primary;
}

.acf-field-5d18c3b0610db {
    &.is--womens {
        [data-id="186"] {
            display: none !important;
        }

        &.is--formal {
            .acf-checkbox-list {
                >li {
                    >ul {
                        >li:not([data-id="229"]) {
                            display: none;
                        }

                        [data-id="229"] {
                            display: block !important;
                        }
                    }
                }
            }
        }
    }

    &.is--mens {
        [data-id="253"] {
            display: none !important;
        }

        &.is--formal {
            .acf-checkbox-list {
                >li {
                    >ul {
                        >li:not([data-id="228"]) {
                            display: none;
                        }

                        [data-id="228"] {
                            display: block !important;
                        }
                    }
                }
            }
        }
    }

    &.is--bags {
        [data-id="186"] {
            display: none !important;
        }

        .acf-checkbox-list {
            >li {
                >ul {
                    >li:not([data-id="260"]) {
                        display: none;
                    }

                    [data-id="260"] {
                        display: block !important;
                    }
                }
            }
        }
    }

    .acf-checkbox-list {
        >li {
            >label {
                display: none !important;
            }

            >ul {
                padding: 0 !important;

                >li {
                    display: block;
                    > ul {
                        > li {
                            display: block;
                        }
                    }
                    >label {
                        pointer-events: none !important;

                        input {
                            display: none !important;
                        }

                        span {
                            font-weight: bold;
                            color: $black;
                        }
                    }
                }
            }
        }

        li {
            vertical-align: top;

            label {
                margin: 0;
            }

            ul {
                margin: 0;

                li {
                    padding: 5px !important;
                }
            }

            &[data-id="191"],
            &[data-id="228"],
            &[data-id="229"],
            &[data-id="258"],
            &[data-id="260"],
            &[data-id="574"],            
            &[data-id="15"] {
                display: none;
            }
        }
    }
}

#mt-application-footer {
    display: none;
}