.display-font {
    font-family: $display;
    text-transform: uppercase;
    font-weight: bold !important;
}

h1,
.h1 {
    @extend .display-font;
}

h2,
.h2 {
    @extend .display-font;
}

.h3 {
    @extend .display-font;
}

.p-0 {
    padding: 0 !important;
}

.grosso-header-account-link-holder {
    max-height: 600px;
}

#header {
    border-bottom: 1px solid $black !important;

    .main_menu_holder {
        #logo {

            // background: $white !important;
            // position: absolute !important;
            // float: left !important;
            @media only screen and (max-width: 450px) {
                width: 80px !important;
                display: flex !important;
                align-items: center !important;
            }

            img {
                position: static !important;

                @media only screen and (min-width: 1280px) {
                    margin-top: 5px;

                    &.grosso_mobile_logo {
                        display: none !important;
                    }
                }
            }
        }
    }

    #main-menu {

        .sell-btn,
        .sell-button {
            >a {
                border: 1px solid $black;
                padding: 0.5em !important;
                line-height: 1 !important;
                height: max-content !important;
                font-weight: 900 !important;

                &:hover {
                    color: $white;
                    background: $black;
                }
            }

            >.sub-menu {
                top: 68% !important;
            }
        }
    }

    #main-menu ul#main_nav>li>ul.sub-menu,
    #main-menu ul#main_nav>li>ul.sub-menu ul.sub-menu,
    #main-menu li div.grosso-mega-menu>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu ul.sub-menu {
        padding: 1em !important;
    }

    #main-menu li ul.sub-menu li:not(.grosso_mega_text_block)>a {
        line-height: 1;
        padding: 2px 0;
    }
}


#grosso_page_title {
    .inner {
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .heading-title {
        // text-align: center;
        text-transform: uppercase;
    }
}

.grosso-single-product {
    .quantity {
        display: none !important;
    }

    .summary.entry-summary {
        // form.cart {
        //     width: 100% !important;

        //     .single_add_to_cart_button {
        //         width: 100%;
        //         border-radius: 0 !important;
        //     }
        // }

        .yith-wcwl-add-to-wishlist {
            // width: 100% !important;
            // height: auto !important;
            // overflow: initial !important;

            .yith-wcwl-add-button,
            .yith-wcwl-wishlistexistsbrowse {
                // text-align: center;
                // border: 2px solid $gray;

                // .feedback {
                //     display: none !important;
                // }

                .add_to_wishlist,
                a {
                    &:before {
                        color: red;
                    }

                    // font-size: 1.25em;
                }
            }
        }
    }
}

.grosso-share-linkedin,
.grosso-share-vkontakte {
    display: none !important;
}

// Woocommerce Bootstrap Fix
.woocommerce-billing-fields .form-row,
.woocommerce-shipping-fields .form-row,
.woocommerce form .form-row {
    display: block;
}

.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
    max-width: unset;
}

.list-flush {
    margin-left: 0;

    li {
        margin-left: 0;
        padding-top: 0;
    }
}

.table-borderless {
    border: 0 !important;
}

.mt_influencer {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url('../images/influencer-icon.svg');
}

.mt-closet-avatar {
    margin-top: -25%;
    margin-bottom: -25%;
    border-radius: 100%;
}

.overflow-x-hidden {
    overflow-y: hidden;
}

.edit-closet {
    position: absolute;
    right: 2em;
    top: 1em;
}

.mt-closet-item {
    display: block;
    margin-bottom: 5em;
    text-decoration: none !important;
    color: $black;
    transition: all ease-in-out 0.25s;

    &:hover {
        opacity: 0.50;
    }
}

.mt-closet-avatar {}

.mt-closet-bg {
    height: 175px !important;
    width: 100% !important;
    object-fit: cover;
}

body:not(.home).page-template-default #content>.inner,
body:not(.home).page-template-blank-page #content>.inner {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}

.accepted_brands_table {
    width: 100%;
    text-align: center;

    tr {
        td {
            width: 25%;

            @media only screen and (max-width: 650px) {
                width: 100%;
                display: block !important;
            }
        }
    }
}

.wpb_grosso_banner {
    &:not(.grosso-banner-dark) {
        .grosso_banner_centered {
            background: rgba(0, 0, 0, 0.275);

            >:not(.grosso_banner_buton) {
                text-shadow: 1px 1px 3px $black;
            }
        }
    }

    &.grosso-banner-dark {
        .grosso_banner_centered {
            background: rgba(255, 255, 255, 0.15);

            >:not(.grosso_banner_buton) {
                text-shadow: 1px 1px 3px $white;
            }
        }
    }

    h4 {
        font-family: $display;
    }

    .grosso_banner_buton {
        text-transform: uppercase;
        font-weight: bold;

        &:hover {
            opacity: 0.5;
        }
    }

    @media only screen and (max-width: 550px) {
        .grosso_banner_text {
            position: static !important;

            .grosso_banner_centered {
                text-align: center !important;

                >:not(.grosso_banner_buton) {
                    color: $black !important;
                    text-shadow: none !important;
                }
            }
        }
    }
}

.vc_btn3 {
    text-transform: uppercase;
    font-weight: bold;
}

#homepage-promotions {
    background: $gray;
    border-bottom: 1px solid $black;
    padding-top: 12px;
    color: $white;

    @media only screen and (max-width: 768px) {
        .wpb_column {

            &:first-child,
            &:last-child {
                display: none !important;
            }
        }
    }

    .wpb_content_element {
        margin-bottom: 8px !important;
        text-transform: uppercase;
        font-size: 0.8em;
        font-family: $display;
        letter-spacing: 1px;

        a {
            text-decoration: none;

            &:after {
                display: none !important;
            }

            &:hover {
                opacity: 0.5;
            }
        }
    }
}

#sb_instagram {

    .sbi_load_btn,
    .sbi_follow_btn a {
        border-radius: 0 !important;
        text-transform: uppercase;
    }
}

#footer {
    h3 {
        font-weight: bold;
    }
}

#wp-link-wrap {
    #wp-link {
        width: 100%;
        height: 100%;
        display: block !important;
    }
}

.woocommerce-form {
    .wcfmmp_become_vendor_link {
        display: none !important;
    }
}

@media only screen and (max-width: 768px) {

    .fb-customerchat,
    .fb_dialog {
        display: none !important;
    }
}