#wcfm-main-content {
    max-width: unset !important;
    padding: 0 !important;

    h1,
    h2,
    h3 {
        color: $black !important;
    }
}

#wcfm_dashboard {
    border-radius: 0 !important;
}

#wcfm-content {
    border: 0 !important;
}

#wcfm-main-contentainer {
    margin-bottom: -45px !important;
}

.product {
    .wcfm_buttons {
        display: none !important;
    }
}

#wcfmmp-stores-lists {
    box-shadow: none !important;

    .wcfmmp-store-search-form {
        >:not(#search) {
            display: none !important;
        }
    }

    #wcfmmp-stores-wrap-holder {
        padding: 0 !important;
    }
}

.wcfm_vendor_settings_heading,
.store_address.store_visibility_wrap {
    display: none !important;
}

#wcfmmp-stores-wrap {
    ul.wcfmmp-store-wrap {
        li {
            .store-content {
                &:after {
                    content: "";
                    background: black;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    opacity: 0.35;
                    pointer-events: none;
                }
            }

            .store-footer {

                .store-data-container,
                .wcfmmp-visit-store {
                    text-shadow: 1px 1px 2px black;
                }
            }
        }
    }
}

#wcfm_menu {
    #wcfm_mt_mobile_menu {
        display: none;
        width: 80%;
        float: right;
        height: 40px;
    }

    @media only screen and (max-width: 768px) {
        padding: 5px !important;

        &:before {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            content: "Navigation:";
            width: 20%;
            float: left;
            color: $white;
            font-size: 0.75em;
            height: 40px;
            vertical-align: middle;
        }

        >*:not(#wcfm_mt_mobile_menu) {
            display: none;
        }

        #wcfm_mt_mobile_menu {
            display: inline-block !important;
        }
    }
}

.wcfm-mt-action-icon {
    display: inline-block;
    margin: 0 4px 4px 0;
    cursor: pointer;
    vertical-align: baseline;
    position: relative;
    padding: 0 4px !important;
    height: 2em !important;
    width: max-content;
    color: #1C2B36;
    background: #fff;
    -webkit-box-shadow: 0 2px 1px #ccc;
    box-shadow: 0 2px 1px #ccc;
    font-size: 13px;
    line-height: 27px;
    border: 1px solid $gray !important;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: $display !important;
    text-decoration: none;

    &:hover {
        background: $gray;
        color: $white;
    }
}

.wcfm_catalog_enquiry {
    &:after {
        display: none !important;
    }
}

.wcfmmp-store-search-form {
    padding: 0 0 15px 0 !important;
    margin: 0 12px 12px 12px;
    border-bottom: 1px solid #efefef;
    display: block;
    text-align: left !important;
}

.wcfmmp_sold_by_container {
    .wcfmmp_sold_by_wrapper {
        text-align: left;
        font-family: $display;
        text-transform: uppercase;
        font-size: 12px;

        img.wcfmmp_sold_by_logo {
            display: none !important;
        }

        .wcfm_dashboard_item_title {
            font-weight: bold;
        }
    }

    .wcfm_vendor_badges {
        display: none !important;
    }
}

.wcfmmp_sold_by_container_advanced {
    .wcfmmp_sold_by_label {
        display: none !important;
    }

    .wcfmmp_sold_by_container_left {
        img {
            border: 1px solid #efefef;
        }
    }

    .wcfmmp_sold_by_container_right:before {
        content: "Listed By:";
        font-size: 0.85em;
    }
}

#wcfmmp-store.wcfmmp-single-store-holder {
    .box-sort-filter {
        display: none !important;
    }
}

.grosso-product-summary-wrapper {
    .the_champ_sharing_container {
        margin-top: 1em;
    }
    .wcfm_catalog_enquiry {
        position: relative;
        display: inline-block;
        background-color: #2F92AD !important;
        &:before {
            visibility: hidden;
            background-color: rgba(0,0,0,0.75);
            color: #fff;
            text-align: center;
            padding: 10px;
            border-radius: 6px;
            position: absolute;
            width: 200px;
            bottom: 110%;
            left: 50%; 
            margin-left: -100px;
            z-index: 1;
            font-size: 0.75em;
            content: "Make an Offer on any item. You will receive a coupon code with your discount."
        }
        &:hover {
            background-color: darken(#2F92AD, 20%) !important;
            &:before {
                visibility: visible;
            }
        }
    }
}

#wcfm_settings_form {
    #wcfm_settings_form_payment_expander {
        .iban, label[for="iban"], #iban,
        .swift, label[for="swift"], #swift,
        .ifsc, label[for="ifsc"], #ifsc  {
            display: none !important;
        }
    }
}