// hide uncategorized
.widget_product_categories {
    h3 {
        font-weight: bold !important;
        font-size: 16px !important;
    }

    .product-categories {
        .cat-item-15 {
            display: none !important;
        }

        >.cat-item:not(.cat-parent) {
            display: none !important;
        }
    }
}

#products-wrapper {
    .product {
        .stock {
            display: none !important;
        }
    }

    .grosso-post-nav {
        display: none !important;
    }
}

.box-products {

    .wcfm_vendor_badges {
        display: none !important;
    }
}

div.prod_hold {

    // transform: none !important;
    // opacity: 1 !important;
    .grosso-list-prod-summary {
        padding: 10px 0 0 0 !important;
        text-align: left;
        display: flex;
        justify-content: space-between;
    }

    span.woocommerce-Price-amount.amount {
        font-weight: bold;
    }

    .mt-attributes {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        font-family: $display;
        font-size: 12px;

        a {
            text-transform: uppercase;
            color: $gray;
        }

        span {
            text-transform: uppercase;
            color: $black;

            b {
                font-weight: 900;
            }
        }
    }
}

.widget_search_filter_register_widget {
    ul {
        margin-left: 0;

        li {
            h4 {
                text-transform: uppercase;
            }
        }
    }

    .sf-field-taxonomy-product_cat {
        display: none !important;
    }
}

@media only screen and (min-width: 980px) {

    .give_wc_donation_section,
    .give-wc-update-donations {
        display: inline-block;
        width: calc(100% - 500px);
        text-align: center !important;
        // padding-right: 30px;
        // float: left;
    }

    form.checkout.woocommerce-checkout #order_review {
        vertical-align: top;
        width: calc(100% - 500px) !important;
        margin-top: 1em;
        text-align: left;
    }
}

@media only screen and (min-width: 992px) {
    .woocommerce-product-gallery {
        .woocommerce-product-gallery__trigger {
            right: calc(18% + 15px) !important;
        }

        .flex-viewport {
            width: 82% !important;
            float: left;
        }

        .flex-control-thumbs,
        .flex-control-nav {
            width: 18% !important;
            float: right;
        }
    }
}

.mt-single-attributes {
    font-size: 0.85em;

    .mt-product-designer {
        margin-bottom: 5px;
        text-transform: uppercase;
        font-family: $display;
        color: $gray;
    }

    .mt-product-size {}
}

.mt-single-product-details {
    .mt-single-product-details-table {
        font-size: 0.80em;

        tbody {
            tr {
                td {
                    padding: 6px 6px;
                    line-height: 1;

                    &.mt-single-product-details-title {
                        text-transform: uppercase;
                        font-family: $display;
                        font-weight: bold;
                        color: $white;
                        background-color: $gray;
                        padding-top: 10px;
                        letter-spacing: 1px;
                    }

                    &.mt-single-product-details-descriptor {
                        border-right: 1px solid #efefef;
                    }

                    &.mt-single-product-details-value {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

.pswp__caption {
    display: none !important;
}

.woocommerce-checkout {
    .woocommerce {
        text-align: center;
    }
}

@media only screen and (max-width: 979px) {
    .grosso_woo_categories_shop {
        display: none !important;
    }
}

.grosso-header-account-link-holder.active {
    overflow-y: scroll;
}

.swatch-other, .swatch-other + .count {
    display: none !important;
}