@mixin btn {
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    text-decoration: none !important;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    transition: all ease-in-out 0.25s;
    text-transform: uppercase;
    line-height: 1;
}

@mixin primary-btn($font-size: 1rem, $padding-tb: 1em, $padding-lr: 2em, $color: $white, $bgColor: $primary) {
    @include btn;
    font-size: $font-size;
    font-weight: 700;
    color: $color;
    padding: $padding-tb $padding-lr;
    border: 2px solid $color !important;
    background-color: $bgColor;
    border-radius: 5px;
    &:hover {
        opacity: 0.5;
    }
}

.primary-btn {
    @include primary-btn();
}

@mixin secondary-btn($font-size: 1rem, $padding-tb: 1em, $padding-lr: 2em, $color: $gray, $bgColor: $white) {
    @include btn;
    font-size: $font-size;
    font-weight: 700;
    color: $color;
    padding: $padding-tb $padding-lr;
    border: 2px solid $color !important;
    background-color: $bgColor;
    border-radius: 5px;
    &:hover {
        opacity: 0.5;
    }
}

.secondary-btn {
    @include secondary-btn();
}

@mixin outline-btn($font-size: 1rem, $padding-tb: 1em, $padding-lr: 2em, $color: $gray) {
    @include btn;
    font-size: $font-size;
    font-weight: 700;
    color: $color !important;
    padding: $padding-tb $padding-lr;
    border: 2px solid $color !important;
    background-color: transparent !important;
    border-radius: 5px;
    &:hover {
        opacity: 0.5;
    }
}

.outline-btn {
    @include outline-btn();
}