$black: #000000;
$dark_gray: #424242;
$gray: #757575;
$white: #ffffff;
$gold: #D1B770;

$primary: $gold;

$small: 500px;
$medium: 750px;
$large: 990px;
$xlarge: 1400px;

$display: 'Catamaran';
$text: 'Lato';